.cartDiv{
  padding: 50px;
  margin-bottom: 200px;

  .row{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;

    .cartMovieImg{
      max-width: 120px;
    }
  }

  .buttons{
    text-align: right;
  }

  .paymentDiv{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    .btn-info{
      font-size: 20px;
      padding: 0 15px;
    }
  }
}

